.cart-mini{
    color: #1D1F22;
}

.cart-mini 
.cart-icon{
    position: relative;
}

.cart-mini 
h2{
    font-weight: normal;
    margin: 0;
    padding: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    font-size: 16px;   
}

.cart-mini 
.cart-list{   
    position: absolute;
    right: 0;
    top: 85px;    
    background: white;    
    width: 325px;
    max-height: 70vh;
    /* max-height: calc(100vh - 85px);; */  
    display: flex;
    flex-direction: column;  
}

.cart-mini 
.count-icon {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
    color: #fff;
    background-color: #000; 
    padding: 3px 7px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 5px;
    cursor: pointer;    
}

.cart-mini
.list{
    overflow: auto;
    padding: 0 16px
}

.cart-mini 
.list::-webkit-scrollbar {
    width: 6px;
}

.cart-mini 
.list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.cart-mini 
.list::-webkit-scrollbar-thumb {
    background: rgba(57, 55, 72, 0.22);
    ;
}

.cart-mini 
.list::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 55, 72, 0.3);
    ;
}

/* Modal */

