.cart-mini{
    color: #1D1F22;
}

.cart-mini 
.cart-icon{
    position: relative;
}

.cart-mini 
h2{
    font-weight: normal;
    margin: 0;
    padding: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    font-size: 16px;       
}

.cart-mini 
.cart-list{   
    position: absolute;
    right: 0;
    top: 85px;    
    background: white;    
    width: 325px;
    max-height: 70vh;
    /* max-height: calc(100vh - 85px);; */  
    display: flex;
    flex-direction: column;
    z-index: 2;  
}

.cart-mini 
.count-icon {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
    color: #fff;
    background-color: #000; 
    padding: 3px 7px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 5px;
    cursor: pointer;    
}



.cart-mini
.list{
    overflow: auto;
    padding: 0 16px
}

.cart-mini 
.list::-webkit-scrollbar {
    width: 6px;
}

.cart-mini 
.list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.cart-mini 
.list::-webkit-scrollbar-thumb {
    background: rgba(57, 55, 72, 0.22);
    ;
}

.cart-mini 
.list::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 55, 72, 0.3);
    ;
}

.cart-mini 
.links-button{
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    
}

.cart-mini 
.links-button button{
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    border-width: 1px;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.cart-mini 
.links-button a:last-child button{
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;    
}

.cart-mini 
.links-button button:hover{
    background-color: #EEEEEE;
    transition: all 0.2s ease 0s;    
}

.cart-mini 
.links-button a:last-child button:hover{   
    opacity: 0.7;
    transition: all 0.2s ease 0s;    
}




/* Modal */

