.cart-mini 
.total-price{
    display: flex;
    justify-content: space-between;
    padding: 20px 16px 5px;
}

.cart-mini 
.total-price p{
    font-weight: bold;
}

/* -------------------------------------------- */

.cart-page
.total-price{
    display: table-row;
}

.cart-page
.total-price p{
    display: table-cell;
    padding: 3px 5px;
    font-weight: bold;
}