header {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1440px;
    font-weight: 400;
    font-size: 16px;
    z-index: 1;
}

header li,
a,
button {
    text-decoration: none;
    color: #1D1F22;
    background-color: #fff;
}

header button {
    cursor: pointer;
}

header .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav-links li {
    display: inline-block;
}

header .nav-links li a {
    padding: 32px;
    display: block;
}

header .nav-links li a:hover {
    color: #5ECE7B;
}

header .active {
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
    font-weight: 600;
}

header .logo {
    margin: 0 auto;
}

@media screen and (min-width: 900px) {
    header 
    .logo {
        position: absolute;
        left: 48%;
    }
}

header .header-icons {
    display: flex;
    margin-left: auto;
}

header .header-icon {
    padding: 3px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}