.product-card-in-cart 
.count-picker{
    width: fit-content; 
    display: flex;
    flex-direction: column;   
}

.product-card-in-cart 
.count-picker
button{
    margin: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #1D1F22;
    border-radius: 0;        
}

.product-card-in-cart 
.count-picker
p{
    margin: auto 0;
    text-align: center;     
}

.product-card-in-cart
.count-picker
button:hover {    
    background-color: #EEEEEE;   
    transition: all 0.2s ease 0s;    
}




/* ---------------------------------------------------------------- */
.cart-page 
.count-picker {  
    margin-left: auto;
    margin-right: 15px;
}

.cart-page
.product-card-in-cart 
.count-picker button {
    margin: 0;
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    border-radius: 0;
    font-size: 30px;
    font-family: inherit;
}

@media screen and (max-width: 700px) {
    .cart-page .product-card-in-cart .count-picker button {
        width: 24px;
        height: 24px;
        font-size: 16px;
    }

}