.gallery
.arrows {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
}

.gallery
.arrows 
.arrow {
    width: 24px;
    height: 24px;   
}

.gallery
.arrows 
.arrow button {
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.73);
    color: #fff;
    border: none;   
}

.gallery
.arrows
.arrow {
    margin-left: 8px;   
}

.gallery
.arrows
.arrow img {
    width: auto; 
}