.product-card{ 
    padding: 16px; 
    position: relative;   
}

.product-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.1s ease 0s
}

.product-card p{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 28px;
}




